$color-light-blue: #3B69D5
$color-dark-blue: #010845

$color-background: #b5b9c4

$color-text: #f8faff

$color-light-brown: #e9b900
$color-dark-brown: #151100

$text-default-size: 16px
$margin-default: 15px
$gutter-width: 20px
$default-shadow-width: 3px
$default-box-shadow: $default-shadow-width $default-shadow-width 1px rgba(0,0,0,.25)

$main-vertical-offset: -50px
$editor-height: 590px
$bg-blur: 3px
$content-max-width: 1280px

@font-face
	font-family: Archer
	src: url('fonts/archer-medium.otf')

@font-face
	font-family: Bebas
	src: url('fonts/bebas.otf')

body,
input,
textarea,
button,
select
	font-family: Archer

h1,h2,h3
	margin: 0
	font-family: Bebas
	letter-spacing: 1px

p
	margin: 0 0 1.2em

body
	margin: 0
	background: $color-background
	background: url('images/seamlessbg.jpg')
	color: $color-text
	font-size: $text-default-size

input,
select,
button,
textarea
	font-size: $text-default-size

ul
	list-style: none
	margin: 0

button,
input[type=button],
input[type=submit],
button.deemphasized:hover,
button.deemphasized:focus,
	background: transparent
	color: $color-text
	border: 1px solid $color-text
	border-radius: 3px
	padding: 15px 20px
	opacity: .95
	&:hover
		background: $color-text
		color: $color-dark-blue
		opacity: 1
		cursor: pointer
	&:disabled
		opacity: .6
		&:hover
			cursor: auto

button.action
	background: $color-light-brown
	color: $color-text
	border: none

button.deemphasized
	background: transparent
	color: $color-text
	border-color: transparent

header
	margin-bottom: $margin-default

.invisible
	visibility: hidden

.blueprint
	background: $color-light-blue
	box-shadow: $default-box-shadow

.grid-element
	padding-right: $gutter-width
	box-sizing: border-box

.video-aspect-ratio-wrapper
	position: relative
	width: 100%
	height: 0
	padding-bottom: 56.25%

.video-aspect-ratio-wrapper iframe
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

.inverted
	background: $color-text
	color: $color-dark-blue

.dashed-borders
	border: 1px dashed $color-text

.size-2
	font-size: 20px

h3,
.size-3
	font-size: 24px

h2,
.size-4
	font-size: 50px

.content
	height: 100%
	display: flex
	flex-direction: column

.expanded-editor .content
	display: block

.main
	box-sizing: border-box
	width: 100%	
	margin: 0 auto
	max-width: $content-max-width
	padding: 0 50px

.expanded-editor .main
	margin-bottom: -$margin-default
	flex: 1 0 $editor-height

.editor
	height: 0
	position: relative
	top: $main-vertical-offset
	overflow: hidden

.expanded-editor .editor
	/* Can't use 100% because for some reason that translates to 1oo% of the viewport */
	height: $editor-height
	padding: $margin-default 3px 3px 0

.renderer-accordion
	width: 280px

.top-section-container
	max-width: $content-max-width
	flex: 1 0 300px
	margin: 30px auto 100px

.top-section
	position: relative
	box-sizing: border-box
	min-height: 300px
	margin: 0 50px
	border: 8px solid #fff
	padding: 30px
	box-shadow: $default-box-shadow
	background: url('images/header.jpg')
	background-size: cover

.top-section-content
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5)

.top-section-header
	margin: 5px 0 $margin-default
	word-break: break-word

.top-section-body
	display: flex
	min-height: 300px
	overflow: hidden

.top-section-content
	flex: 1 0 50%

footer	
	flex: 0 0 50px
	background: $color-dark-brown
	ul
		margin: 0
		list-style: none
		display: flex
		justify-content: center
		li
			flex-grow: 1
			max-width: 100px
			padding: $margin-default

.representation-container
	padding: 0 10px