$color-light-blue: #3B69D5
$color-dark-blue: #010845

$color-background: #b5b9c4

$color-text: #f8faff

$color-light-brown: #e9b900
$color-dark-brown: #151100

$text-default-size: 16px
$margin-default: 15px

$gutter-width: 20px
$main-vertical-offset: -50px
$footer-height: 30px

@font-face
	font-family: Archer
	src: url('archer-medium.otf')

@font-face
	font-family: Bebas
	src: url('bebas.otf')

body,
input,
textarea,
button,
select
	font-family: Archer

h1,h2,h3
	margin: 0
	font-family: Bebas

p
	margin: 0 0 1.2em

body
	margin: 0
	background: $color-background
	background: url('images/seamlessbg.jpg')
	color: $color-text
	font-size: $text-default-size

input,
select,
button,
textarea
	font-size: $text-default-size

button,
input[type=button],
input[type=submit],
button.deemphasized:hover,
button.deemphasized:focus,
	background: $color-text
	color: $color-dark-blue
	border: 0
	padding: 15px 20px
	opacity: .95
	&:hover
		opacity: 1
		cursor: pointer
	&:disabled
		opacity: .6
		&:hover
			cursor: auto

input[type=submit],
button.action
	background: $color-light-brown
	color: $color-text

button.deemphasized
	background: transparent
	color: $color-text
	border: none

header
	margin-bottom: $margin-default

.invisible
	visibility: hidden

.hidden
	display: none

.blueprint
	background: $color-light-blue
	box-shadow: 2px 2px 1px rgba(0,0,0,.25)

.grid-element
	padding-right: $gutter-width

.inverted
	background: $color-text
	color: $color-dark-blue

.lowlight-text
	color: $color-dark-blue

.thick-borders
	border: 15px solid $color-text

.dashed-borders
	border: 1px dashed $color-text

.size-1
	font-size: $text-default-size

.size-2
	font-size: 20px

h3,
.size-3
	font-size: 24px

h2,
.size-4
	font-size: 36px

.content
	height: 100%
	display: flex
	flex-direction: column

.main
	width: 100%
	margin: 0 auto
	max-width: 1280px
	padding: 0 50px

.expanded-editor .main
	margin-bottom: -$margin-default
	flex: 1 0 700px

.editor
	height: 0
	padding-top: $margin-default
	position: relative
	top: $main-vertical-offset
	overflow: hidden

.expanded-editor .editor
	height: 700px

.renderer-accordion
	width: 280px

.top-section-bg
	flex: 1 0 500px
	display: flex
	line-height: 1.2
	background: url('images/header.jpg')
	background-size: cover
	background-position: center
	box-shadow: 0px 2px 1px rgba(0,0,0,.25)

.top-section-container
	padding: $margin-default 150px 80px
	background: rgba(60, 60, 60, .3)
	flex-grow: 1

.top-section-content
	margin: 0 auto
	max-width: 1200px
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5)

.top-section-header
	margin: 5px 0 $margin-default

.top-section-body
	display: flex

.introduction
	width: 50%
	margin: 0

.carousel
	width: 50%

footer	
	flex: 0 0 50px
	background: $color-dark-brown
	ul
		margin: 0
		list-style: none
		display: flex
		justify-content: center
		li
			flex-grow: 1
			max-width: 100px
			padding: $margin-default

